/* For standard CSS, you would use media queries like this:
@media (max-width: 640px) {
  .fc-header-toolbar {
    flex-direction: column;
  }
}
*/

/* With TailwindCSS in the component */

  /* Include this within your global styles or component if using CSS-in-JS */
  @media (max-width: 640px) {
    .fc-header-toolbar > .fc-toolbar-chunk {
      display: block;
      margin-bottom: 1rem;
    }
  }
  




@tailwind base;
@tailwind components;
@tailwind utilities;



.sarala-regular {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.sarala-bold {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.tawk-min-chat-icon {
  fill: #f1f1ec;
  animation-duration: .25s;
  animation-name: iconAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

